.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
  z-index: 99;
  box-shadow: 0 0 0 0 white;
}
.login-wrapper-border {
  padding: 5px;
  background: linear-gradient(0.25turn, #2c1d71, #c33764);
  border-radius: 23px;
  position: fixed;
  width: 26%;
  left: 37%;
  z-index: 98;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.facebook-icon,
.vk-icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 10px;
}
.facebook-icon {
  background-image: url(facebook.png);
}
.vk-icon {
  background-image: url(vk.png);
}
.auth-icons {
  display: flex;
  flex-direction: row;
}
