.header {
  min-height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.menu,
.userpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
}

.menu-link,
.userpanel-btn {
  padding: 2px 10px 3px 10px;
  margin: 0 10px 0 20px;
  border: 2px solid transparent;
  border-radius: 1em;
  color: white;
  background: transparent;
  outline: none;
}
.menu-link:hover {
  border: 2px solid #c33764;
}
.userpanel-btn {
  border: 2px solid white;
  font-size: 20px;
}
.userpanel-btn:hover {
  border: 2px solid #c33764;
  color: #c33764;
}

.userpanel-hello,
.userpanel-hello a {
  font-size: 22px;
  color: white;
}
.userpanel-hello a:hover {
  color: #c33764;
}
