.header {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  
}

.nav-menu, .nav-user-panel {
  display: flex;
  align-items: center;
  margin: 0 50px 0 50px;
}

.nav-menu a, .nav-user-panel a{
  color: white;
  margin-left: 50px;
  padding: 2px 10px 2px 10px;
  border-radius: 25px;
}
.nav-menu a{
border: 2px solid transparent;
}
.nav-user-panel a{
  font-size: 18px;
  border: 2px solid white;
  margin-left: 20px;
  font-weight: bold;
}
.nav-menu a:hover {
  text-decoration: none;
  color: #c33764;
  border: 2px solid #c33764;
}
.nav-user-panel a:hover{
  text-decoration: none;
  color: #c33764;
  border: 2px solid #c33764;
  /* box-shadow: 0 0 10px #c33764; */
}