.register-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
}

.input-group{
  z-index: 1;
}
.check-label-is-invalid{
 
  color: #dc3545;
}
.check-label-is-valid{
 
  color: #28a745;
}
.error-feedback {
  color: #dc3545;
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 10px;
}
._center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.btn {
  border: 0px;
  border-radius: 20px;
}
@media (max-width: 481px) {
  /*Эти стили применятся на экранах шириной менее 481px */
  main{
    padding: 0px;
  }
  .register-wrapper {
    border-radius: 0px;
    margin: 0px;
  }
  }
  @media (min-width: 481px) and (max-width: 768px) {
  /*Эти применятся на экранах более 481px и менее 768px */
  
  }
  @media (min-width: 768px) {
  /* Эти стили применятся на экранах шириной более 768px */
  
  }